# COPIAR ESTE ARCHIVO Y RENOMBRARLO A .env.local
# Reemplazar los valores con los reales de Firebase Console

VITE_FIREBASE_API_KEY=<OBTENER DE FIREBASE CONSOLE>
VITE_FIREBASE_AUTH_DOMAIN=campistas-col.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=campistas-col
VITE_FIREBASE_STORAGE_BUCKET=campistas-col.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=<OBTENER DE FIREBASE CONSOLE>
VITE_FIREBASE_APP_ID=<OBTENER DE FIREBASE CONSOLE>
VITE_FIREBASE_MEASUREMENT_ID=<OBTENER DE FIREBASE CONSOLE>
